
/* #region Root */

:root {
    font-family: Helvetica, sans-serif;
    font-size: 99%;
    letter-spacing: .08rem;
    line-height: 2rem;

    --vs-bg-color: #1e1e1e;

    --spacer-vertical: 50px;

    --heading-font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    --heading-font-variant: small-caps;
    --heading-letter-spacing: .1em;
    --heading-font-weight: 200;
    --heading1-size: 2.5rem;
    --heading2-size: 2rem;
    --heading3-size: 1.7rem;
    --heading4-size: 1rem;
    --heading5-size: .5rem;
    --heading6-size: .25rem;

    --paragraph-margins: 0 0 2em 0;
    --header-margins: 0 0 .6em 0;

    --picture-in-paragraph: 100px;

    --thin-image: 300px;
    --wide-image: 400px;
    --extra-wide-image: 500px;

    --thin-paragraph: 40%;
    --wide-paragraph: 50%;
    --extra-wide-paragraph: 60%;

    --min-paragraph: 500px;
}

img {
    width: 100%;
}

/* #endregion */

/* #region Html, Body, Main */

html, body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh; /* fallback (?) helps with mobile positioning */

    background-color: lightgray;
}

main {
    margin-top: auto;
    margin-bottom: auto;
}

/* #endregion */

/* #region Paragraph */

p {
    margin: var(--paragraph-margins);
}

/* #endregion */

/* #region Headings */

.h, h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-variant: var(--heading-font-variant);
    letter-spacing: var(--heading-letter-spacing);
    font-weight: var(--heading-font-weight);
    margin: var(--header-margins);
}

.h.h1, h1 {
    font-size: var(--heading1-size);
}

.h.h2, h2 {
    font-size: var(--heading2-size);
}

.h.h3, h3 {
    font-size: var(--heading3-size);
}

.h.h4, h4 {
    font-size: var(--heading4-size);
}

.h.h5, h5 {
    font-size: var(--heading5-size);
}

.h.h6, h6 {
    font-size: var(--heading6-size);
}

/* #endregion */

/* #region Figcaption  */

figcaption {
    font-size: .7rem;
    text-align: center;
    margin: var(--paragraph-margins);
    margin-top: .7em;
}

/* #endregion */

/* #region Iframe */

iframe {
    border: none;
}

/* #endregion */

/* #region Footer Element */

footer-element {
    margin-top: auto;
}

/* #endregion */

/* #region Project Headings */

h2.project-heading {
    margin-bottom: 0;
}

p.project-subheading {
    margin: 1em 0 0 0;
}

/* #endregion */

/* #region Spacer */

span.spacer {
    display: block;
    min-height: var(--spacer-vertical);
}

span.spacer.short {
    min-height: 20px;
}

span.spacer.vertical {
    min-height: var(--spacer-vertical);
}

span.spacer.tall {
    min-height: 200px;
}

span.spacer.thin {
    min-width: 10px;
}

span.spacer.horizontal {
    min-width: 20px;
}

span.spacer.wide {
    min-width: 50px;
}

/* #endregion */

/* #region Codebox */

div.codebox {
    display: block;
    overflow-x: auto;
    overflow-y: auto;

    text-align: left;

    padding: 20px;

    background: var(--vs-bg-color);

    font-family: "Consolas, 'Courier New', monospace";
    letter-spacing: normal;
    line-height: normal;
}

/* #endregion */

/* #region Project Buttons */

ul.project-buttons {
    margin: 0 0;
    padding-left: 0;
}

ul.project-buttons li {
    margin-right: 20px;
    display: inline;
}

ul.project-buttons li span {
    display: inline-block; /* Keeps labels together when wrapping */
}

ul.project-buttons a {
    height: 0;
    --thickness: .1em;
    --strike: 0;

    background: linear-gradient(90deg, transparent, currentColor 0) no-repeat 
    right .6em / calc(var(--strike) * 100%) var(--thickness);

    transition: background-size .4s ease;

    color: black;
    text-decoration: none;

    font-family: var(--heading-font-family);
    font-variant: var(--heading-font-variant);
    letter-spacing: var(--heading-letter-spacing);
    font-weight: var(--heading-font-weight);
    font-size: var(--heading3-size);
    margin: 0 0 0 0;
}

ul.project-buttons a:hover {
    --strike: 1;
    background-position-x: left;
}


/* #endregion */

/* #region Project Bullets */

ul.project-bullets {
    margin: 1.5em 0 1em 0;
}

ul.project-bullets li {
    margin: 0 0 .5em 0;
}

/* #endregion */

/* #region Video */

iframe.video {
    aspect-ratio: 16 / 9;
}

/* #endregion */

/* #region Document */

iframe.document {
    aspect-ratio: 16 / 9;
}

/* #endregion */

/* #region List In Paragraph */

ul.list-in-paragraph {
    margin: var(--paragraph-margins);
}

/* #endregion */

/* #region Section */

div.section {
    /* Displays contents horizontally withing a limited width. */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;

    margin: auto;
    width: 80%;
    max-width: 1500px;
    height: fit-content;

    /* Debug 
    border: solid;
    */
}

div.section.center-h {
    justify-content: center;
}

div.section.project {
    min-height: 500px;
}

div.section>div.subsection {
    /* Display Content */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: wrap;

    width: 100%;
    overflow-x: hidden;

    /* Debug 
    border: solid blue;
    */
}

div.section>div.subsection.center-h {
    align-items: center;
}

div.section>div.subsection.start-v {
    justify-content: start;
}

div.section>div.subsection.wide-media {
    max-width: 70%;
}

div.section>div.subsection.project-media {
    max-width: 500px;
}

div.section>div.subsection.project-description {
    max-width: 700px;
}

/* #endregion */

/* #region Max Width Overrides */

@media screen and (max-width: 1000px) {

    /* #region root */

    :root {
        --thin-image: 100%;
        --wide-image: 100%;
        --extra-wide-image: 100%;
    
        --thin-paragraph: 100%;
        --wide-paragraph: 100%;
        --extra-wide-paragraph: 100%;
    
        --min-paragraph: 0;
    }

    /* #endregion */

    /* #region Picture in Paragraph */

    .picture-in-paragraph {
        max-width: 100%;
    }
    
    .picture-in-paragraph.thin {
        max-width: 100%;
    }
    
    .picture-in-paragraph.wide {
        max-width: 100%;
    }

    /* #endregion */

    /* #region Sections */

    div.section {
        /* Display */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    div.section>div.subsection.wide-media {
        max-width: 100%;
    }
    
    div.section>div.subsection.project-media {
        max-width: 100%;
    }
    
    div.section>div.subsection.project-description {
        max-width: 100%;
    }

    /* #endregion */ 
}

/* #endregion */
