
span.project {
    display: block;
    width: fit-content;
    margin: auto;

    white-space: nowrap;

    border: solid;
}

span.project span {
    display: inline-block;
}

img {
    max-width: 500px;
}
