
body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh; /* fallback (?) helps with mobile positioning */

    background-color: lightgray;

    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    letter-spacing: .1em;
}

ul {
    list-style-type: "- ";
}

li {
    list-style-position: outside;
}

main {
    margin-top: auto;
    margin-bottom: auto;
}

footer-element {
    margin-top: auto;
}

header {
    width: 100%;
    height: 70px;

    background-color: darkgrey;

    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header div {
    width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* debug
    border: solid;
    */
}

span#spacer {
    display: block;
    min-height: 50px;
}

