
div#project {
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    margin: auto;
    max-width: 1500px;
    width: 80%;

    min-height: 500px;

    /*** Debug 
    border: solid green;
    */
}

div#project .content {
    display: inline-block;
    white-space: wrap;
    width: 100%;
    max-width: 500px;
    max-height: 100%;
}

div#project .text-content {
    max-width: 700px;
}

div#project #text-content {
    max-width: 700px;
}

div#project span#project-padding {
    display: inline-block;
    padding-left: 20px;
}

div#project img {
    width: 100%;
    display: inline;
    vertical-align: middle;
}

div#project iframe {
    box-sizing: border-box;
    padding: 20px;
    aspect-ratio: 16 / 9;
}

div#project li {
    margin: .5em 0;
}

@media screen and (max-width: 1000px) {
    div#project {
        display: block;
        margin: auto;
        /* width: fit-content;
        */
        white-space: nowrap;

        max-width: 80%;
        min-width: 300px;
        height: auto;
    
        /*** Debug **
        border: solid yellow;
        */
    }

    div#project .content {
        display: inline-block;
        max-width: 1000px;
        width: 100%;
        max-height: fit-content;
        white-space: wrap;
        text-align: center;
    }

    div#project .text-content {
        width: 100%;
    }

    div#project li {
        list-style-position: inside;
    }

    div#project span#project-padding {
        display: block;
        width: 0%;
        border: none;
        padding-left:  0;
    }
}