
div.project {
    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    white-space: nowrap;

    /* Size / Position */
    margin: auto;
    width: 80%;
    max-width: 1500px;
    min-height: 500px;

    /*** Debug 
    border: solid green;
    */
}

div.project .project-content {
    /* Display Content */
    box-sizing: border-box;
    display: inline-block;
    white-space: wrap;

    /* Size / Position */
    width: 100%;
    max-width: 500px;
    max-height: 100%;

    /* Debug
    border: solid;
    */
}

div.project .project-text-content {
    max-width: 700px;
}

div.project span.project-padding {
    display: inline-block;

    padding-left: 20px;
}

div.project img {
    display: inline;
    vertical-align: middle;
    
    width: 100%;
}

div.project iframe {
    aspect-ratio: 16 / 9;
}

div.project li {
    margin: .5em 0;
}

div.project div.project-codebox {
    min-width: 800px;
    display: block;
}

@media screen and (max-width: 1000px) {
    div.project {
        display: block;

        max-width: 80%;
        min-width: 300px;
        height: auto;
    
        /*** Debug **
        border: solid yellow;
        */
    }

    div.project .project-content {
        display: inline-block;
        white-space: wrap;
        text-align: center;

        width: 100%;
        max-width: 1000px;
        max-height: fit-content;
    }

    div.project .project-text-content {
        max-width: 100%;
    }

    div.project ul {
        padding-left: 0px;
    }

    div.project li {
        list-style-position: inside;
    }

    div.project span.project-padding {
        display: block;

        width: 0%;
        padding-left:  0;
    }

    div.project div.project-codebox {
        min-width: 100%;
    }
}